[
{:id "rholang" :language "rholang" :extensions [".rho"] :wasm-url "grammars/rholang/grammar.wasm" :scm-url "grammars/rholang/highlights.scm" :source-kind "existing" :source "https://github.com/F1R3FLY-io/rholang-rs"}
{:id "metta" :language "metta" :extensions [".metta"] :wasm-url "grammars/metta/grammar.wasm" :scm-url "grammars/metta/highlights.scm" :source-kind "local" :source "../MeTTa-Compiler/tree-sitter-metta"}
{:id "rust" :language "rust" :extensions [".rs"] :wasm-url "grammars/rust/grammar.wasm" :scm-url "grammars/rust/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-rust"}
{:id "python" :language "python" :extensions [".py" ".pyi"] :wasm-url "grammars/python/grammar.wasm" :scm-url "grammars/python/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-python"}
{:id "javascript" :language "javascript" :extensions [".js" ".mjs" ".cjs" ".jsx"] :wasm-url "grammars/javascript/grammar.wasm" :scm-url "grammars/javascript/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-javascript"}
{:id "typescript" :language "typescript" :extensions [".ts"] :wasm-url "grammars/typescript/grammar.wasm" :scm-url "grammars/typescript/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-typescript"}
{:id "tsx" :language "tsx" :extensions [".tsx"] :wasm-url "grammars/tsx/grammar.wasm" :scm-url "grammars/tsx/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-typescript"}
{:id "clojure" :language "clojure" :extensions [".clj" ".cljs" ".cljc" ".edn"] :wasm-url "grammars/clojure/grammar.wasm" :scm-url "grammars/clojure/highlights.scm" :source-kind "git" :source "https://github.com/sogaiu/tree-sitter-clojure"}
{:id "go" :language "go" :extensions [".go"] :wasm-url "grammars/go/grammar.wasm" :scm-url "grammars/go/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-go"}
{:id "c" :language "c" :extensions [".c" ".h"] :wasm-url "grammars/c/grammar.wasm" :scm-url "grammars/c/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-c"}
{:id "cpp" :language "cpp" :extensions [".cpp" ".hpp" ".cc"] :wasm-url "grammars/cpp/grammar.wasm" :scm-url "grammars/cpp/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-cpp"}
{:id "java" :language "java" :extensions [".java"] :wasm-url "grammars/java/grammar.wasm" :scm-url "grammars/java/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-java"}
{:id "kotlin" :language "kotlin" :extensions [".kt"] :wasm-url "grammars/kotlin/grammar.wasm" :scm-url "grammars/kotlin/highlights.scm" :source-kind "git" :source "https://github.com/fwcd/tree-sitter-kotlin"}
{:id "ruby" :language "ruby" :extensions [".rb"] :wasm-url "grammars/ruby/grammar.wasm" :scm-url "grammars/ruby/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-ruby"}
{:id "php" :language "php" :extensions [".php"] :wasm-url "grammars/php/grammar.wasm" :scm-url "grammars/php/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-php"}
{:id "bash" :language "bash" :extensions [".sh" ".bash" ".zsh"] :wasm-url "grammars/bash/grammar.wasm" :scm-url "grammars/bash/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-bash"}
{:id "lua" :language "lua" :extensions [".lua"] :wasm-url "grammars/lua/grammar.wasm" :scm-url "grammars/lua/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-lua"}
{:id "scala" :language "scala" :extensions [".scala"] :wasm-url "grammars/scala/grammar.wasm" :scm-url "grammars/scala/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-scala"}
{:id "haskell" :language "haskell" :extensions [".hs"] :wasm-url "grammars/haskell/grammar.wasm" :scm-url "grammars/haskell/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-haskell"}
{:id "ocaml" :language "ocaml" :extensions [".ml"] :wasm-url "grammars/ocaml/grammar.wasm" :scm-url "grammars/ocaml/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-ocaml"}
{:id "elixir" :language "elixir" :extensions [".ex" ".exs"] :wasm-url "grammars/elixir/grammar.wasm" :scm-url "grammars/elixir/highlights.scm" :source-kind "git" :source "https://github.com/elixir-lang/tree-sitter-elixir"}
{:id "erlang" :language "erlang" :extensions [".erl"] :wasm-url "grammars/erlang/grammar.wasm" :scm-url "grammars/erlang/highlights.scm" :source-kind "git" :source "https://github.com/WhatsApp/tree-sitter-erlang"}
{:id "swift" :language "swift" :extensions [".swift"] :wasm-url "grammars/swift/grammar.wasm" :scm-url "grammars/swift/highlights.scm" :source-kind "git" :source "https://github.com/alex-pinkus/tree-sitter-swift"}
{:id "dart" :language "dart" :extensions [".dart"] :wasm-url "grammars/dart/grammar.wasm" :scm-url "grammars/dart/highlights.scm" :source-kind "git" :source "https://github.com/UserNobody14/tree-sitter-dart"}
{:id "elisp" :language "elisp" :extensions [".el"] :wasm-url "grammars/elisp/grammar.wasm" :scm-url "grammars/elisp/highlights.scm" :source-kind "git" :source "https://github.com/Wilfred/tree-sitter-elisp"}
{:id "toml" :language "toml" :extensions [".toml"] :wasm-url "grammars/toml/grammar.wasm" :scm-url "grammars/toml/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-toml"}
{:id "yaml" :language "yaml" :extensions [".yaml" ".yml"] :wasm-url "grammars/yaml/grammar.wasm" :scm-url "grammars/yaml/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-yaml"}
{:id "ini" :language "ini" :extensions [".ini" ".cfg" ".conf"] :wasm-url "grammars/ini/grammar.wasm" :scm-url "grammars/ini/highlights.scm" :source-kind "git" :source "https://github.com/justinmk/tree-sitter-ini"}
{:id "groovy" :language "groovy" :extensions [".gradle"] :wasm-url "grammars/groovy/grammar.wasm" :scm-url "grammars/groovy/highlights.scm" :source-kind "git" :source "https://github.com/Decodetalkers/tree-sitter-groovy"}
{:id "cmake" :language "cmake" :extensions [".cmake"] :wasm-url "grammars/cmake/grammar.wasm" :scm-url "grammars/cmake/highlights.scm" :source-kind "git" :source "https://github.com/uyha/tree-sitter-cmake"}
{:id "nim" :language "nim" :extensions [".nim"] :wasm-url "grammars/nim/grammar.wasm" :scm-url "grammars/nim/highlights.scm" :source-kind "git" :source "https://github.com/alaviss/tree-sitter-nim"}
{:id "zig" :language "zig" :extensions [".zig"] :wasm-url "grammars/zig/grammar.wasm" :scm-url "grammars/zig/highlights.scm" :source-kind "git" :source "https://github.com/maxxnino/tree-sitter-zig"}
{:id "d2" :language "d2" :extensions [".d2"] :wasm-url "grammars/d2/grammar.wasm" :scm-url "grammars/d2/highlights.scm" :source-kind "local" :source "resources/grammars-src/tree-sitter-d2"}
{:id "bnfc" :language "bnfc" :extensions [".cf" ".bnfc"] :wasm-url "grammars/bnfc/grammar.wasm" :scm-url "grammars/bnfc/highlights.scm" :source-kind "local" :source "resources/grammars-src/tree-sitter-bnfc"}
{:id "markdown" :language "markdown" :extensions [".md" ".markdown" ".mdx"] :wasm-url "grammars/markdown/grammar.wasm" :scm-url "grammars/markdown/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-markdown"}
{:id "markdown-inline" :language "markdown_inline" :extensions [] :wasm-url "grammars/markdown-inline/grammar.wasm" :scm-url "grammars/markdown-inline/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-markdown"}
{:id "org" :language "org" :extensions [".org"] :wasm-url "grammars/org/grammar.wasm" :scm-url "grammars/org/highlights.scm" :source-kind "git" :source "https://github.com/nvim-orgmode/tree-sitter-org"}
{:id "html" :language "html" :extensions [".html" ".htm"] :wasm-url "grammars/html/grammar.wasm" :scm-url "grammars/html/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-html"}
{:id "css" :language "css" :extensions [".css"] :wasm-url "grammars/css/grammar.wasm" :scm-url "grammars/css/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-css"}
{:id "scss" :language "scss" :extensions [".scss"] :wasm-url "grammars/scss/grammar.wasm" :scm-url "grammars/scss/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-scss"}
{:id "json" :language "json" :extensions [".json" ".jsonc"] :wasm-url "grammars/json/grammar.wasm" :scm-url "grammars/json/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter/tree-sitter-json"}
{:id "xml" :language "xml" :extensions [".xml" ".svg"] :wasm-url "grammars/xml/grammar.wasm" :scm-url "grammars/xml/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-xml"}
{:id "latex" :language "latex" :extensions [".tex"] :wasm-url "grammars/latex/grammar.wasm" :scm-url "grammars/latex/highlights.scm" :source-kind "git" :source "https://github.com/latex-lsp/tree-sitter-latex"}
{:id "lean" :language "lean" :extensions [".lean"] :wasm-url "grammars/lean/grammar.wasm" :scm-url "grammars/lean/highlights.scm" :source-kind "git" :source "https://github.com/Julian/tree-sitter-lean"}
{:id "tlaplus" :language "tlaplus" :extensions [".tla"] :wasm-url "grammars/tlaplus/grammar.wasm" :scm-url "grammars/tlaplus/highlights.scm" :source-kind "git" :source "https://github.com/tlaplus-community/tree-sitter-tlaplus"}
{:id "proto" :language "proto" :extensions [".proto"] :wasm-url "grammars/proto/grammar.wasm" :scm-url "grammars/proto/highlights.scm" :source-kind "git" :source "https://github.com/coder3101/tree-sitter-proto"}
{:id "make" :language "make" :extensions [".mk" ".make" ".mak"] :wasm-url "grammars/make/grammar.wasm" :scm-url "grammars/make/highlights.scm" :source-kind "git" :source "https://github.com/tree-sitter-grammars/tree-sitter-make"}
{:id "gitignore" :language "gitignore" :extensions [".gitignore"] :wasm-url "grammars/gitignore/grammar.wasm" :scm-url "grammars/gitignore/highlights.scm" :source-kind "git" :source "https://github.com/shunsambongi/tree-sitter-gitignore"}
]
